/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.course.grid p {
  font-size: initial !important;
}

.lp-single-course {
  width: 90%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.learn-press-breadcrumb {
  background-color: #ddd;
  padding: 12px 20px;
  font-size: 16px;
}

.learn-press-search-course-form .search-course-input,
.learn-press-search-course-form button {
  padding: 6px 12px !important;
  font-size: 14px;
}
.learn-press-search-course-form button {
  border-radius: 0;
}

.learn-press-course-results-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}
.learn-press-course-results-progress > div {
  float: none !important;
  width: 45% !important;
  margin: 0 0 1.5rem 0 !important;
}
.learn-press-course-results-progress > div.items-progress span.number, .learn-press-course-results-progress > div.course-progress .lp-course-status {
  margin-bottom: 0.5rem;
  display: block;
}
.learn-press-course-results-progress > div.course-progress .lp-course-status .lp-label {
  background-color: black;
}
.learn-press-course-results-progress:after {
  display: none;
}

.content-item-wrap .content-item-summary p {
  font-size: 16px;
}

#learn-press-course .course-meta span {
  display: inline-block;
  padding: 6px 10px;
  border-radius: 8px;
  color: white;
  background-color: #009688;
}
#learn-press-course .course-remaining-time {
  margin-bottom: 1.5rem;
}
#learn-press-course .section .section-header {
  cursor: pointer;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  background-color: #ccefff;
}
#learn-press-course .section .section-content .course-item {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

@media screen and (max-width: 360px) {
  .lp-content-area {
    padding: 0 !important;
  }

  .lp-archive-courses .course-summary .course-summary-content .course-detail-info .course-info-left .course-meta .course-meta__pull-left {
    display: block;
  }

  .meta-item.meta-item-instructor {
    margin-bottom: 20px;
  }

  body.lp_course-template-sejoli-member-page .sejolisa-memberarea-content .segment .lp-archive-courses .course-summary .course-summary-content .course-detail-info {
    padding: 40px 20px !important;
  }

  body.lp_course-template-default .lp-archive-courses .course-summary .course-summary-content .course-detail-info {
    padding: 40px 20px !important;
  }

  body.lp_course-template-default .lp-archive-courses .course-summary .course-summary-content .course-detail-info {
    margin-bottom: 0px !important;
  }
}

@media screen and (max-width: 480px) {
  .lp-content-area {
    padding: 0 !important;
  }

  body.lp_course-template-sejoli-member-page .sejolisa-memberarea-content .lp-archive-courses .course-summary .course-summary-content .course-detail-info {
    padding: 40px 20px !important;
  }

  body.lp_course-template-default .lp-archive-courses .course-summary .course-summary-content .course-detail-info {
    padding: 40px 20px !important;
  }

  body.lp_course-template-default .lp-archive-courses .course-summary .course-summary-content .course-detail-info {
    margin-bottom: 0px !important;
  }

  .course-curriculum ul.curriculum-sections .section-content .course-item a.section-item-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .course-curriculum ul.curriculum-sections .section-content .course-item a.section-item-link > * {
    display: block;
  }
}

.lp-archive-courses {
  max-width: 100% !important;
  width: 100% !important;
  padding: 1rem;
}
.lp-archive-courses ul.learn-press-courses {
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.lp-archive-courses ul.learn-press-courses a.course-permalink {
  display: block;
  text-decoration: none;
}
.lp-archive-courses ul.learn-press-courses h3.course-title {
  font-size: 18px;
}
.lp-archive-courses .course-info {
  display: none;
}
.lp-archive-courses .lp-course-buttons .sejoli-product-related h5.title {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  line-height: 32px;
}
.lp-archive-courses .lp-course-buttons .sejoli-product-related ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.lp-archive-courses .lp-course-buttons .sejoli-product-related ul li {
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
}
.lp-archive-courses .lp-course-buttons .sejoli-product-related ul li a {
  border: none;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-radius: 4px;
  line-height: 2.5rem;
  text-transform: uppercase;
  background-color: #F5F5F5;
  background-color: #00adff;
  color: white;
  text-decoration: none;
  border-bottom: none;
  padding: 8px;
  font-size: 14px;
  line-height: 32px;
  font-weight: bold;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.lp-archive-courses .lp-course-buttons .lp-button {
  line-height: 32px;
  height: auto;
  font-size: 14px;
}

.lp-single-course {
  max-width: 960px !important;
}

.sejoli-memberarea-conten .lp-single-course {
  width: 100% !important;
  max-width: 100% !important;
}

.sejoli-product-related ul {
  margin: 0 0 0.5rem 0;
  padding: 0;
  list-style: none;
}
.sejoli-product-related ul li a {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 18px;
  background-color: white;
  border-bottom: 2px solid #F5F5F5;
}

body.course-item-popup .content-item-summary {
  margin-bottom: 20px;
}

#course-item-content-header {
  height: 45px;
  line-height: 45px;
}
#course-item-content-header .course-item-search {
  padding: 7.5px;
}
#course-item-content-header .course-title {
  line-height: 45px;
}
#course-item-content-header .toggle-content-item {
  width: 45px;
  height: 45px;
}
#course-item-content-header .toggle-content-item::before {
  line-height: 45px;
}
#course-item-content-header .lp-form {
  height: 45px;
  line-height: 45px;
}
#course-item-content-header .lp-form button.lp-button {
  border: none;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-radius: 4px;
  line-height: 2.5rem;
  text-transform: uppercase;
  background-color: #F5F5F5;
  background-color: #00adff;
  color: white;
  font-size: 12px;
  height: 30.15px;
  line-height: 30.15px;
}

body.course-item-popup.wpadminbar #learn-press-course-curriculum,
body.course-item-popup.wpadminbar #learn-press-content-item {
  top: calc(92px - 15px);
}

.lp-course-buttons button[type=submit],
.lp-course-buttons button.button-complete-item,
.learn-press-form button[type=submit],
.learn-press-form button.button-complete-item {
  border: none;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-radius: 4px;
  line-height: 2.5rem;
  text-transform: uppercase;
  background-color: #F5F5F5;
  background-color: #00adff;
  color: white;
}

.lp-course-buttons,
.learn-press-form {
  display: block;
}
.lp-course-buttons .form-button,
.learn-press-form .form-button {
  width: 100%;
}
.lp-course-buttons button[type=submit],
.learn-press-form button[type=submit] {
  width: 100%;
}

.content-item-wrap .review-heading {
  font-size: 24px;
}
.content-item-wrap .course-item-nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content-item-wrap .course-item-nav > div {
  padding: 10px;
  background-color: #F5F5F5;
  max-width: 300px;
  border-radius: 4px;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  #popup-course #learn-press-content-item {
    padding: 1rem;
  }
  body.lp_course-template.course-item-popup #tab-curriculum #learn-press-course-curriculum, {
    width: 100% !important;
  }
}

@media screen and (max-width: 480px) {
  #popup-course #learn-press-content-item {
    padding: 1rem;
  }

  .meta-item.meta-item-lesson,
  .meta-item.meta-item-quiz,
  .meta-item.meta-item-student {
    display: block !important;
    width: 100%;
  }

  body.course-item-popup #learn-press-course-curriculum {
    width: 100% !important;
  }

  .learn-press-course-results-progress {
    display: block;
  }
  
  .learn-press-course-results-progress > div {
    width: 100% !important;
  }

  #learn-press-course .section .section-header {
    display: block;
  }
  #learn-press-course .section .section-header > div {
    display: block;
  }
  #learn-press-course .section .section-header .section-meta {
    padding: 12px 0;
  }

  body.course-item-popup.wpadminbar #learn-press-course-curriculum,
  body.course-item-popup.wpadminbar #learn-press-content-item {
    top: 92px;
  }

  .content-item-wrap .course-item-nav {
    display: block;
  }
  .content-item-wrap .course-item-nav > div {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    margin-bottom: 20px;
  }
  .content-item-wrap .content-item-summary .lp-quiz-buttons form {
    display: block;
    margin-bottom: 20px;
  }
  .content-item-wrap .content-item-summary .lp-quiz-buttons form button {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
.content-item-summary .content-question-summary,
.content-item-summary .quiz-question-desc {
  margin-bottom: 20px;
}
.content-item-summary .quiz-result.failed .result-achieved {
  background-color: #dd88ae;
}
.content-item-summary .quiz-result.passed .result-achieved {
  background-color: #00adff;
}
.content-item-summary .quiz-result .result-grade {
  margin-bottom: 20px;
}
.content-item-summary .quiz-result .result-grade .result-achieved {
  color: white;
  border: none;
  line-height: 100%;
  padding: 10px;
  border-radius: 4px;
}
.content-item-summary .quiz-result .result-grade .result-require {
  padding: 10px;
  font-size: 18px;
  line-height: 150%;
}
.content-item-summary .quiz-result .result-grade .result-message {
  font-size: 16px;
}
.content-item-summary .quiz-result .result-grade .result-message strong {
  text-transform: uppercase;
}
.content-item-summary .quiz-result .result-statistic {
  background-color: #F5F5F5;
  border-radius: 4px;
}
.content-item-summary .quiz-result .result-statistic .result-statistic-field {
  padding: 8px;
  border-bottom: 1px solid white;
}
.content-item-summary ul.answer-options .answer-option .option-title .option-title-content {
  font-size: 16px;
  color: #333333;
}
.content-item-summary .lp-quiz-buttons button[type=submit] {
  border: none;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-radius: 4px;
  line-height: 2.5rem;
  text-transform: uppercase;
  background-color: #F5F5F5;
  background-color: #00adff;
  color: white;
}
.content-item-summary .question-numbers li a {
  border: none;
}

body.lp_course-template-sejoli-member-page .course-summary .course-summary-sidebar {
  position: relative;
  display: none;
}

body.lp_course-template-sejoli-member-page .lp-archive-courses .course-summary .course-summary-content .course-detail-info .course-info-left {
  width: 100%;
}

.lp-archive-courses .course-summary .course-summary-content .course-detail-info {
  padding: 40px 40px 40px 40px !important;
}

#learn-press-course .course-meta span {
  margin-right: 5px;
}

body.lp_course-template-sejoli-member-page .lp-archive-courses .course-summary .course-summary-content .lp-entry-content.lp-content-area .entry-content-left {
  width: 100%;
  padding-right: 0 !important;
}

#learn-press-course-curriculum.course-curriculum ul.curriculum-sections .section-header {
  padding: 15px 15px 26px 15px !important;
}

body.lp_course-template-sejoli-member-page #learn-press-course-curriculum.course-curriculum ul.curriculum-sections .section {
  margin: 0;
  padding: 0 !important;
}